h1 {
  font-size: 3em;
}

hr {
  margin-top: 2rem;
  color: black;
  height: 2px;
  width: 100%;
}

button:focus {
  outline: none;
}

.mainDiv {
  background-color: white;
  margin: auto;
  padding: 0 4rem; 
  display: flex;
  flex-direction: column;
  max-width: calc(min(80rem, 80vw));
  width: 90%;
  min-height: calc(100vh - 0rem); /* TODO: set the subtracted end to the height of the navbar when it's built */
}

.llmResponse {
  background-color: var(--gray3);
  border-radius: 1rem;
  padding: 1.5rem;
  line-height: 1.5em;
}

.inputWithSubmitButton {
  background-color: var(--gray3);
  border-radius: 1rem;
  display: flex;
  padding: 1rem; 
}

.mediumTextInput {
  background-color: var(--gray3);
  border: none;
  flex: 1;
  margin-right: 1rem;
  resize: none;
}

.mediumTextInput::-webkit-scrollbar {
  display: none;
}

.mediumTextInput:focus {
  outline: none;
}

.regenerateButton {
  background-color: var(--deepBlue);
  border-radius: 0.4rem;
  border: none;
  color: white;
  padding: 1rem;
  width: 10rem;
}

.basicFlex {
  display: flex;
  align-items: center;
}

.pauseButton {
  border-radius: 0.4rem;
  border: none;
  padding: 0.5rem;
}

.durationTitle {
  margin-right: 1rem;
}

.workoutTime {
  color: var(--deepBlue)
}

.bottomButtons {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.addWorkoutButton {
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  width: 15rem;
  margin-right: 1rem;
}

.finishButton {
  background-color: var(--deepBlue);
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  width: 15rem;
  margin-left: 1rem;
}