.input {
  border: none;
  background: #ececec;
  border-radius: 8px;
  width: 100%;
  min-height: 120px;
  height: 120px;
  resize: none;
  margin-top: 12px;

  &:focus-visible {
    outline: none;
  }
}

.inputBoxContainer {
  background: #ececec;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
}

.title,
.subtitle {
  opacity: 49%;
  font-size: 12px;
  padding-bottom: 6px;
}
