.sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 97%;
  border-radius: 8px;
  padding: 40px 20px 20px;
  background-color: #ececec;
}

.slider {
  display: flex;
  justify-content: center;
}

.sliderThumb {
  border-radius: 15px;
  height: 42px;
  width: 42px;
  background-color: #0066ff;
}

.sliderLine {
  border-radius: 999px;
  height: 6px;
  width: 90%;
  background-color: #d9d9d9;
}

.sliderLabels {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  opacity: 80%;
  font-size: 12px;
}
