.blueButton {
  background-color: #0066ff;
  border: none;
  border-radius: 999px;
  color: #ffffff;
  padding: 12px;
  font-size: 18px;
  width: 90%;
  min-width: max-content;
  justify-self: center;
  cursor: pointer;
}
