.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 10px;
}

.questionText {
  font-size: 32px;
}

.childrenContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
