.mainCard {
  background-color: #dadada;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  z-index: 2;
  position: relative;
}

.rangeSliderContainer {
  display: flex;
}

.detailsCard {
  background-color: #ebf3ff;
  margin: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -4rem;
  z-index: 1;
}

.detailsCard h2 {
  margin-left: 4%;
}

.dumbbellIcon {
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  margin-right: 2rem;
  margin-left: 1rem;
}

.overviewContent h2 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.quickContent {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.dropdownIndicator {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.difficultyRange {
  pointer-events: none;
  padding-top: 3.5rem;
  background-color: transparent;
}

.workoutsGrid {
  column-count: 2;
  column-gap: 1rem;
  margin: 3%;
  margin-left: 1%;
}

.gridEntry {
  display: inline-block;
  width: calc(100% - 2.5rem);
  height: fit-content;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.editButton {
  background-color: transparent;
  
}

.gridEntry table {
  text-align: left;
  margin-left: 1rem;
}

.gridEntry td {
  text-align: left;
}

.entryHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 2rem;
}

.entryHeader h3 {
  margin: 0;
  font-size: 1.5rem;
}

.entryHeader h6 {
  margin-top: 0;
  font-size: 1rem;
}
