
button:focus {
  outline: none;
}

table {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

td {
  text-align: center;
}

tr>td {
  padding-top: 1rem;
}

.mainDiv {
  margin-top: 2rem;
}

.mainSetsDiv {
  border: 1px solid black;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.sideBySide {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

.moreButton {
  background: none;
  border: none;
  margin-left: 1rem;
}

.setNumberButton {
  background-color: #ebebeb;
  border: none;
  border-radius: 0.4rem;
  width: 2.5rem;
  height: 2.5rem;
}

.addSetButton {
  border: none;
  padding: 0.5rem;
  border-radius: 0.4rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
}